.search-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 20px;
  box-shadow: 0 0 10px #aaa;
  align-items: center;

  .input-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 95%;
    padding: 0 10px;
  }

  input {
    width: 49.5%;
    height: 40px;
    padding: 5px;
    border: 1px solid #aaa;
    background-color: #f3f6ff;
    border-radius: 5px;
  }
}
